
// {{ convertName .Signal }}{{ .ConvIdx }} converts data as {{ .Conversion.OriginalType }} to {{ .Signal.GOType }}.
func {{ convertName .Signal }}{{ .ConvIdx }}(val {{ .Conversion.OriginalType }}) ({{ .Signal.GOType }}, error) {
    {{ if eq .Conversion.OriginalType .Signal.GOType -}}
    return val, nil
    {{- else -}}
    panic("not implemented")
    {{- end }}
}
