CREATE TABLE IF NOT EXISTS vss (
{{- range .Signals }}
	{{ .CHName }} {{ .CHType }} COMMENT '{{ escapeDesc .Desc }}',
{{- end }}
)
ENGINE = MergeTree()
ORDER BY (Vehicle_DIMO_Subject, Vehicle_DIMO_Timestamp)