extend type {{ lower .ModelName }} implements Node {
  {{- range .Signals }}
  """
  {{ .Desc }}
  Required Privlieges: {{ .Privileges }}
  """
  {{ .JSONName }}: {{ .GQLType }}
    @requiresPrivilege(privileges: {{ .Privileges }})
  {{- end }}
}