
{{ if .DocComment }}
{{ .DocComment }}
{{- else -}}
// {{ .FuncName }} converts data from field '{{ .Conversion.OriginalName }}' of type {{ .Conversion.OriginalType }} to '{{ .Signal.Name }}' of type {{ .Signal.GOType }}.
// {{ .Signal.Name }}: {{ .Signal.Desc }}
// {{ if .Signal.Unit }}Unit: '{{ .Signal.Unit }}'{{ end }} {{ if .Signal.Min }}Min: '{{ .Signal.Min }}'{{ end }} {{ if .Signal.Max }}Max: '{{ .Signal.Max }}'{{ end }}
{{- end }}
func {{ .FuncName }}(originalDoc []byte, val {{ .Conversion.OriginalType }}) ({{ .Signal.GOType }}, error)
{{- if .Body -}}
{{ .Body }}
{{- else if eq .Conversion.OriginalType .Signal.GOType -}}
{
    return val, nil
}
{{- else -}}
{
    panic("not implemented")
}
{{- end -}}

